.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color:#567189 ;
}
.button{

  padding: 23px;
  align-items: center;
  top: 60%;
  position: absolute;
  left: 47.5%;
}

